.Rproj.user
.DS_Store
.Rhistory
.RData
storm_details.csv
*.synctex
*.log
*.zip
*.gz
*.out
*.aux
*.bbl
*.blg

paper.pdf

paper-concordance.tex
paper.pdf

paper-concordance.tex

paper.tex

presentation.pdf

presentation.snm

presentation.toc

presentation.nav
